html * {
    font-family: Maven Pro;
    color:black;
}

a:hover {
    text-decoration: none;
}

#logo {
    width:150px;
}

.action {
    text-align: center;
}

.stats {
    margin:5px;
}

input, select {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 250px;
}

#logged_in_button {
  padding: 14px 30px;
  cursor: pointer;
}

#logged_in_button img{
  width:28px;
  margin-right: 5px;
}

.navbar input{
    margin-bottom: 0px;
}


.navbar .caret{
  border-top-color:white;
}

#orientation {
    vertical-align: super;
}

#submit button {
  float: left;
  margin-right: 8px;
  margin-bottom: 10px;
}

#email button {
  margin-top: 10px;
  width: 100%;
}

.braquet-btn {
    color: white;
    background: black;
    width: 100%;
    border: none;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.braquet-btn:hover {
  background: #191919;
}

#settings span {
    margin-right:5px;
}

#bidDisplay {
  display: none;
  margin-top:20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
}

#bidDisplay div {
    display: none;
}

#bid7 img{
  width: 200px;
}

#bidDisplay div.appear {
    color: black;
    -webkit-animation-name: hello; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: hello;
    animation-duration: 2s;
}

#bidDisplay div.green {
    color: #3c763d;
    -webkit-animation-name: selected; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: selected;
    animation-duration: 1s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes hello {
    0%   {color:white;}
    25%  {color:white;}
    50%  {color:black;}
    75%  {color:black;}
    100% {color:black;}
}

/* Standard syntax */
@keyframes hello {
    0%   {color:white;}
    25%  {color:white;}
    50%  {color:black;}
    75%  {color:black;}
    100% {color:black;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes selected {
    0%   {color:white;}
    25%  {color:white;}
    50%  {color:#3c763d;}
    75%  {color:#3c763d;}
    100% {color:#3c763d;}
}

/* Standard syntax */
@keyframes selected {
    0%   {color:white;}
    25%  {color:white;}
    50%  {color:#3c763d;}
    75%  {color:#3c763d;}
    100% {color:#3c763d;}
}

#login_data, #signup_data {
  padding:0;
}

.modal-body .screen-shot {
  width:350px;
}

.modal-body iframe {
  width: 100%;
  padding:15px;
  border: none;
}

#login_data iframe {
  height:215px;
}

#signup_data iframe {
  height:264px;
}

.selling-points {
  overflow: auto;
}

.selling-points h5 {
  margin-bottom: 20px;
}

.selling-points div {
  margin: 10px 0px;
}

.selling-points .point {
  overflow: auto;
}

.selling-points .glyphicon {
  margin: 0px 15px 0px 0px;
  float: left;
}

.selling-points .glyphicon-user#one {
  margin: 0px;
}

.selling-points .glyphicon-user#two {
  margin-right: 7px;
}

#given_name, #surname {
  width:49%;
  float: left;
}

#given_name {
  margin-right: 5px;
}

#surname {
  margin-right: 0px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.3s;
  -moz-animation-duration:0.3s;
  animation-duration:0.3s;

}
