<!DOCTYPE html>
    <html>
    <head>
            {{mymap.js}}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body>
        <h1>Solar System Design Tool</h1>

        <form action="/" method="post">
            <input type="text" placeholder="Search for a region" name="user_search" required/>
            <button type="submit">Search</button>
        </form>

        <div id="{{mymap.identifier}}" class="{{mymap.cls}}"></div>

        {% if locations %}
            <h4>Nearby Businesses</h4>
            {% for loc in locations %}
                <div><p>{{ loc.0 }}</p></div>
               <!--  <div><p>Phone Number: {{loc.1}}</p></div> -->
                <div><p>Address: {{loc.1}}</p></div>
            {% endfor %}
        {% endif %}

    </body>
</html>