{% if success %}
  <base target="_parent" />
  <script>window.top.location.href = "/dashboard";</script>
{% else %}
<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/main.css">
<form method="post" action="/register">
  {{ form.hidden_tag() }}
<h4>Sign Up</h4>
  {# This bit of code displays a list of error messages if anything bad happens. #}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {# This block of code renders the desired input boxes for registering users.  #}
  {% if config['STORMPATH_ENABLE_USERNAME'] %}
    {% if config['STORMPATH_REQUIRE_USERNAME'] %}
      {{ form.username(placeholder='Username', required='true') }}
    {% else %}
      {{ form.username(placeholder='Username') }}
    {% endif %}
  {% endif %}
  {% if config['STORMPATH_ENABLE_GIVEN_NAME'] %}
    {% if config['STORMPATH_REQUIRE_GIVEN_NAME'] %}
      {{ form.given_name(placeholder='First Name', required='true') }}
    {% else %}
      {{ form.given_name(placeholder='First Name') }}
    {% endif %}
  {% endif %}
  <!-- {% if config['STORMPATH_ENABLE_MIDDLE_NAME'] %}
    {% if config['STORMPATH_REQUIRE_MIDDLE_NAME'] %}
      {{ form.middle_name(placeholder='Middle Name', required='true') }}
    {% else %}
      {{ form.middle_name(placeholder='Middle Name') }}
    {% endif %}
  {% endif %} -->
  {% if config['STORMPATH_ENABLE_SURNAME'] %}
    {% if config['STORMPATH_REQUIRE_SURNAME'] %}
      {{ form.surname(placeholder='Last Name', required='true') }}
    {% else %}
      {{ form.surname(placeholder='Last Name') }}
    {% endif %}
  {% endif %}
  {{ form.email(placeholder='Email', required='true', type='email') }}
  {{ form.password(placeholder='Password', required='true', type='password') }}

  <button type="submit">Create Account</button>
</form>
<div class="selling-points">
<h5>The easiest way to design your solar system</h5>
<div><div class="glyphicon glyphicon-time"></div><div class="point">Create your own solar system in minutes</div></div>
<div><div class="glyphicon glyphicon-thumbs-up"></div><div class="point">Designing your system is always free</div></div>
<div><div class="glyphicon glyphicon-user"></div><div class="point">Share and collaborate in real-time</div></div>
</div>
<script src="/static/js/formStyle.js"></script>
{% endif %}